<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Brand/logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collapsible Navbar -->
            <div class="collapse navbar-collapse" id="example-1">
                <ul class="nav navbar-nav">
                    <li><a href="/admin/hold.xhtml">Hold</a></li>
                    <li><a href="/admin/regnskab.xhtml">Regnskab</a></li>
                    <li><a href="/admin/opret.xhtml">Opret event</a></li>
                    <li style="text-align:right" id="logud"><a href="/admin/logud">Log ud</a></li>
                </ul>
            </div>

        </div>
    </nav>
</div>