<div class="footer">
    <div class="footer-container">
        <ul class="footer-container-list">
            <li>
                <a class="fa fa-facebook" onclick="window.open('https://www.facebook.com/groups/215678428783879/about/')"></a>
            </li>
            <li>
                <p></p>
            </li>
            <li>
                <ul class="footer-info">
                    <li>
                        Copyright &#9400;
                    </li>
                    <li>
                        Ndzingeko Dee Dlamini
                    </li>
                    <li>
                        Telefon: 87554163
                    </li>
                    <li>
                        Email: deediza@gmail.com
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>