<div class="container">
    <img src="res/bannerimproved-resize.png" class="crop"></img>

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Brand/logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collapsible Navbar -->
            <div class="collapse navbar-collapse" id="example-1">
                <ul class="nav navbar-nav">
                    <li><a href="/index.xhtml">Forside <span class="sr-only">(current)</span></a></li>
                    <li><a href="/hold.xhtml">Hold</a></li>
                    <li><a href="/videoer.xhtml">Hold videoer</a></li>
                    <li><a href="/fest.xhtml">Fest</a></li>
                    <li><a href="/galleri.xhtml">Galleri</a></li>
                    <li><a href="/om.xhtml">Om os</a></li>
                    <li><a href="/tilmeld.xhtml">Tilmeld</a></li>
                    <li><a href="/kontakt.xhtml">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
