<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<head>
    <script type="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../css/admin.css"/>
</head>


<body>
<div class="container">
    <ui:include src="../partials/admin_topbar.xhtml"/>

</div>

<div class="indhold_container">
    <p class="titler">Dine Hold</p><br/>
    <p>På denne side kan du se alle tilmeldte til dine hold, se betalinger, eller luk for tilmelding til et bestemt hold.</p><br/><br/>

    <table class="tg" style="display: inline-block;">
        <tr>
            <th colspan="4">Begynder</th>
        </tr>
        <tr>
            <th class="tg-yw4l">Navn</th>
            <th class="tg-yw4l">Efternavn</th>
            <th class="tg-yw4l">Køn</th>
            <th class="tg-yw4l">Betalt</th>
        </tr>
        <tr>
            <td class="tg-yw4l">Line</td>
            <td class="tg-yw4l">Sørensen</td>
            <td class="tg-yw4l">K</td>
            <td class="tg-yw4l">575</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Mary</td>
            <td class="tg-yw4l">Langberg</td>
            <td class="tg-yw4l">K</td>
            <td class="tg-yw4l">600</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Stine</td>
            <td class="tg-yw4l">Kirkeby</td>
            <td class="tg-yw4l">K</td>
            <td class="tg-yw4l">675</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Karen</td>
            <td class="tg-yw4l">Bunda</td>
            <td class="tg-yw4l">K</td>
            <td class="tg-yw4l">675</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Erik</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l">M</td>
            <td class="tg-yw4l">675</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Sten</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l">M</td>
            <td class="tg-yw4l">575</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Jens</td>
            <td class="tg-yw4l">Oversson</td>
            <td class="tg-yw4l">M</td>
            <td class="tg-yw4l">0</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Peter</td>
            <td class="tg-yw4l">Madsen</td>
            <td class="tg-yw4l">M</td>
            <td class="tg-yw4l">575</td>
        </tr>
        <tr>
            <th class="tg-yw4l" colspan="3">Antal Kvinder</th>
            <th class="tg-yw4l">4</th>
        </tr>
        <tr>
            <th class="tg-yw4l" colspan="3">Antal Mænd</th>
            <th class="tg-yw4l">4</th>
        </tr>
        <tr>
            <th class="tg-yw4l" colspan="3">Total:</th>
            <th class="tg-yw4l">4350</th>
        </tr>
        <tr>
            <td id="hold1" align="right" colspan="4"><input type="button" id="button1" value="Luk for tilmelding"
                                                                 onclick="function lukhold() {
                                        if(confirm('Er du sikker på at du vil lukke tilmelding til dette hold?')){
                                            document.getElementById('hold1').innerHTML='Tilmelding lukket';
                                            document.getElementById('button1').style.display = 'none';
                                        }
                                                                 }
                                                                 lukhold();"/></td>
        </tr>
    </table>

    <table class="tg" style="display: inline-block;">
        <tr>
            <th colspan="4">Letøvet</th>
        </tr>
        <tr>
            <th class="tg-yw4l">Navn</th>
            <th class="tg-yw4l">Efternavn</th>
            <th class="tg-yw4l">Køn</th>
            <th class="tg-yw4l">Betalt</th>
        </tr>
        <tr>
            <td class="tg-yw4l">Line</td>
            <td class="tg-yw4l">Sørensen</td>
            <td class="tg-yw4l">K</td>
            <td class="tg-yw4l">575</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Mary</td>
            <td class="tg-yw4l">Langberg</td>
            <td class="tg-yw4l">K</td>
            <td class="tg-yw4l">600</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Stine</td>
            <td class="tg-yw4l">Kirkeby</td>
            <td class="tg-yw4l">K</td>
            <td class="tg-yw4l">675</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Karen</td>
            <td class="tg-yw4l">Bunda</td>
            <td class="tg-yw4l">K</td>
            <td class="tg-yw4l">675</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Erik</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l">M</td>
            <td class="tg-yw4l">675</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Sten</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l">M</td>
            <td class="tg-yw4l">575</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Jens</td>
            <td class="tg-yw4l">Oversson</td>
            <td class="tg-yw4l">M</td>
            <td class="tg-yw4l">0</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Peter</td>
            <td class="tg-yw4l">Madsen</td>
            <td class="tg-yw4l">M</td>
            <td class="tg-yw4l">575</td>
        </tr>
        <tr>
            <th class="tg-yw4l" colspan="3">Antal Kvinder</th>
            <th class="tg-yw4l">4</th>
        </tr>
        <tr>
            <th class="tg-yw4l" colspan="3">Antal Mænd</th>
            <th class="tg-yw4l">4</th>
        </tr>
        <tr>
            <th class="tg-yw4l" colspan="3">Total:</th>
            <th class="tg-yw4l">4350</th>
        </tr>
        <tr>
            <td id="hold2" align="right" colspan="4"><input type="button" id="button2" value="Luk for tilmelding"
                                                            onclick="function lukhold() {
                                        if(confirm('Er du sikker på at du vil lukke tilmelding til dette hold?')){
                                            document.getElementById('hold2').innerHTML='Tilmelding lukket';
                                            document.getElementById('button2').style.display = 'none';
                                        }
                                                                 }
                                                                 lukhold();"/></td>
        </tr>
    </table>



    <table class="tg" style="display: inline-block;">
        <tr>
            <th colspan="4">Øvet</th>
        </tr>
        <tr>
            <th class="tg-yw4l">Navn</th>
            <th class="tg-yw4l">Efternavn</th>
            <th class="tg-yw4l">Køn</th>
            <th class="tg-yw4l">Betalt</th>
        </tr>
        <tr>
            <td class="tg-yw4l">Line</td>
            <td class="tg-yw4l">Sørensen</td>
            <td class="tg-yw4l">K</td>
            <td class="tg-yw4l">575</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Mary</td>
            <td class="tg-yw4l">Langberg</td>
            <td class="tg-yw4l">K</td>
            <td class="tg-yw4l">600</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Stine</td>
            <td class="tg-yw4l">Kirkeby</td>
            <td class="tg-yw4l">K</td>
            <td class="tg-yw4l">675</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Karen</td>
            <td class="tg-yw4l">Bunda</td>
            <td class="tg-yw4l">K</td>
            <td class="tg-yw4l">675</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Erik</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l">M</td>
            <td class="tg-yw4l">675</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Sten</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l">M</td>
            <td class="tg-yw4l">575</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Jens</td>
            <td class="tg-yw4l">Oversson</td>
            <td class="tg-yw4l">M</td>
            <td class="tg-yw4l">0</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Peter</td>
            <td class="tg-yw4l">Madsen</td>
            <td class="tg-yw4l">M</td>
            <td class="tg-yw4l">575</td>
        </tr>
        <tr>
            <th class="tg-yw4l" colspan="3">Antal Kvinder</th>
            <th class="tg-yw4l">4</th>
        </tr>
        <tr>
            <th class="tg-yw4l" colspan="3">Antal Mænd</th>
            <th class="tg-yw4l">4</th>
        </tr>
        <tr>
            <th class="tg-yw4l" colspan="3">Total:</th>
            <th class="tg-yw4l">4350</th>
        </tr>
        <tr>
            <td id="hold3" align="right" colspan="4"><input type="button" id="button3" value="Luk for tilmelding"
                                                            onclick="function lukhold() {
                                        if(confirm('Er du sikker på at du vil lukke tilmelding til dette hold?')){
                                            document.getElementById('hold3').innerHTML='Tilmelding lukket';
                                            document.getElementById('button3').style.display = 'none';
                                        }
                                                                 }
                                                                 lukhold();"/></td>
        </tr>
    </table>



</div>
</body>

</html>
