<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<head>
    <link rel="stylesheet" type="text/css" href="../css/admin.css"/>
</head>

<body>
    <br />
    <br />
    <center>
    <h:form id="loginForm">
        <table>
            <tr>
                <th><h:outputLabel value="username " /></th>
                <td><h:inputText value="#{adminLoginBean.username}" /></td>
            </tr>
            <tr>
                <th><h:outputLabel value="password" /></th>
                <td><h:inputSecret value="#{adminLoginBean.password}"/></td>
            </tr>
        <tr>
            <td />
            <td align="right">
                <h:commandButton value="Login" action="#{adminLoginBean.login}"/>
            </td>
        </tr>
        </table>
    </h:form>
</center>
</body>
</html>
