<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <script type="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
    <script type="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"/>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../css/tilmeld.css"/>
    <script type="text/javascript" src="../js/calendar.js"/>
</head>

<body id="main_body" >

<div class="container">
    <ui:include src="../partials/admin_topbar.xhtml"/>

</div>

<div id="form_container">

    <h3><a>Opret nye events her</a></h3>
    <form id="form" class="appnitro" method="post" action="">
        <div class="form_description">
            <h2>Opret</h2>
            <p/>
        </div>
        <ul >

            <li id="li_4" >
                <label class="description" for="element_4">Valg event type </label>
                <div>
                    <select class="element select medium" id="element_4" name="element_4">
                        <option value="" selected="selected"></option>
                        <option value="1" >Hold</option>
                        <option value="2" >Workshop</option>
                        <option value="3" >Fest</option>

                    </select>
                </div>
            </li>		<li id="li_6" >
        <label class="description" for="element_6">Niveau </label>
        <div>
            <input id="element_6" name="element_6" class="element text medium" type="text" maxlength="255" value=""/>
        </div>
    </li>		<li id="li_5" >
        <label class="description" for="element_5">Beskrivelse </label>
        <div>
            <textarea id="element_5" name="element_5" class="element textarea medium" cols="1" rows="1"/>
        </div>
    </li>		<li id="li_7" >
        <label class="description" for="element_7_1">Dato fra </label>
        <span>
			<input id="element_7_1" name="element_7_1" class="element text" size="2" maxlength="2" value="" type="text"/>
			<label for="element_7_1">DD</label>
		</span>
        <span>
			<input id="element_7_2" name="element_7_2" class="element text" size="2" maxlength="2" value="" type="text"/>
			<label for="element_7_2">MM</label>
		</span>
        <span>
	 		<input id="element_7_3" name="element_7_3" class="element text" size="4" maxlength="4" value="" type="text"/>
			<label for="element_7_3">YYYY</label>
		</span>

        <span id="calendar_7">
			<img id="cal_img_7" class="datepicker" src="../res/calendar.gif" alt="Pick a date."/>
		</span>
        <script type="text/javascript">
            Calendar.setup({
                inputField	 : "element_7_3",
                baseField    : "element_7",
                displayArea  : "calendar_7",
                button		 : "cal_img_7",
                ifFormat	 : "%B %e, %Y",
                onSelect	 : selectEuropeDate
            });
        </script>

    </li>		<li id="li_8" >
        <label class="description" for="element_8_1">til </label>
        <span>
			<input id="element_8_1" name="element_8_1" class="element text" size="2" maxlength="2" value="" type="text"/>
			<label for="element_8_1">DD</label>
		</span>
        <span>
			<input id="element_8_2" name="element_8_2" class="element text" size="2" maxlength="2" value="" type="text"/>
			<label for="element_8_2">MM</label>
		</span>
        <span>
	 		<input id="element_8_3" name="element_8_3" class="element text" size="4" maxlength="4" value="" type="text"/>
			<label for="element_8_3">YYYY</label>
		</span>

        <span id="calendar_8">
			<img id="cal_img_8" class="datepicker" src="../res/calendar.gif" alt="Pick a date."/>
		</span>
        <script type="text/javascript">
            Calendar.setup({
                inputField	 : "element_8_3",
                baseField    : "element_8",
                displayArea  : "calendar_8",
                button		 : "cal_img_8",
                ifFormat	 : "%B %e, %Y",
                onSelect	 : selectEuropeDate
            });
        </script>

    </li>		<li id="li_12" >
        <label class="description" for="element_12">Ugedag </label>
        <div>
            <select class="element select medium" id="element_12" name="element_12">
                <option value="" selected="selected"/>
                <option value="1" >mandag</option>
                <option value="2" >tirsdag</option>
                <option value="3" >onsdag</option>
                <option value="4" >torsdag</option>
                <option value="5" >fredag</option>
                <option value="6" >lørdag</option>
                <option value="7" >søndag</option>

            </select>
        </div>
    </li>		<li id="li_9" >
        <label class="description" for="element_9_1">fra </label>
        <span>
			<input id="element_9_1" name="element_9_1" class="element text " size="2" type="text" maxlength="2" value=""/> :
			<label>HH</label>
		</span>
        <span>
			<input id="element_9_2" name="element_9_2" class="element text " size="2" type="text" maxlength="2" value=""/> :
			<label>MM</label>
		</span>
        <span>
			<select class="element select" style="width:4em" id="element_9_4" name="element_9_4">
				<option value="AM" >AM</option>
				<option value="PM" >PM</option>
			</select>
			<label>AM/PM</label>
		</span>
    </li>		<li id="li_10" >
        <label class="description" for="element_10_1">til </label>
        <span>
			<input id="element_10_1" name="element_10_1" class="element text " size="2" type="text" maxlength="2" value=""/> :
			<label>HH</label>
		</span>
        <span>
			<input id="element_10_2" name="element_10_2" class="element text " size="2" type="text" maxlength="2" value=""/> :
			<label>MM</label>
		</span>
        <span>
			<select class="element select" style="width:4em" id="element_10_4" name="element_10_4">
				<option value="AM" >AM</option>
				<option value="PM" >PM</option>
			</select>
			<label>AM/PM</label>
		</span>
    </li>		<li id="li_11" >
        <label class="description" for="element_11">Upload billede </label>
        <div>
            <input id="element_11" name="element_11" class="element file" type="file"/>
        </div>
    </li>

            <li class="buttons">
                <input type="hidden" name="form_id" value="8591" />

                <input id="saveForm" class="button_text" type="submit" name="submit" value="Opret" />
            </li>
        </ul>
    </form>
</div>

</body>
</html>