<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<head>
    <script type="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
    <script type="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"/>
    <script type="text/javascript" src="../js/table_script.js"/>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../css/admin.css"/>
</head>


<body>
<div class="container">
    <ui:include src="../partials/admin_topbar.xhtml"/>

</div>

<div id="wrapper" class="indhold_container">
    <p class="titler">Regnskab</p>
    <p>Her kan du holde styr på dit regnskab.</p>
    <table id="data_table" class="regnskab">
    <tr>
        <th>Udgifter</th>
        <th>Omkostninger</th>
    </tr>

    <tr id="row1">
        <td id="name_row1">Lokale leje</td>
        <td id="country_row1">4050</td>
        <td>
            <input type="button" id="edit_button1" value="Edit" class="edit" onclick="edit_row('1')"/>
            <input type="button" id="save_button1" value="Save" class="save" onclick="save_row('1')"/>
            <input type="button" value="Delete" class="delete" onclick="delete_row('1')"/>
        </td>
    </tr>

    <tr id="row2">
        <td id="name_row2">Flyers</td>
        <td id="country_row2">500</td>
        <td>
            <input type="button" id="edit_button2" value="Edit" class="edit" onclick="edit_row('2')"/>
            <input type="button" id="save_button2" value="Save" class="save" onclick="save_row('2')"/>
            <input type="button" value="Delete" class="delete" onclick="delete_row('2')"/>
        </td>
    </tr>

    <tr id="row3">
        <td id="name_row3">Gæsteunderviser</td>
        <td id="country_row3">600</td>
        <td>
            <input type="button" id="edit_button3" value="Edit" class="edit" onclick="edit_row('3')"/>
            <input type="button" id="save_button3" value="Save" class="save" onclick="save_row('3')"/>
            <input type="button" value="Delete" class="delete" onclick="delete_row('3')"/>
        </td>
    </tr>

    <tr>
        <td><input type="text" id="new_name"/></td>
        <td><input type="text" id="new_country"/></td>
        <td><input type="button" class="add" onclick="add_row();" value="Add Row"/></td>
    </tr>

</table><br/>

    <table class="regnskab">
        <tr>
            <td>Udgifter i alt:</td>
            <td id="udgift">5150</td>
        </tr>
    </table>
</div>
</body>

</html>
