<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<head>
    <script type="text/javascript" src="//code.jquery.com/jquery-3.1.0.min.js"/>
    <script type="text/javascript" src="../js/jssor.slider-27.1.0.min.js"/>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../css/admin.css"/>
</head>

<body>

<div class="container">
    <ui:include src="../partials/admin_topbar.xhtml"/>

</div>

<div id="indhold_container">
    Welcome <h:outputLabel value="#{adminLoginBean.username}"/>!
    Her kan du se dine regnskaber osv. Have fun!
</div>

</body>
</html>