body
{
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:small;
    margin:8px 0 16px;
    text-align:center;
    background-color: #7A7563;
}

.indhold_container
{
    margin:0 auto;
    text-align:left;
    width:1100px;
    font-family: "Ebrima", sans-serif;
    font-size: medium;
}

.titler
{
    color: #fff7c0;
    font-family: 'Lucida Calligraphy', sans-serif;
    font-size: large;
}

table{
    display: inline-block;
}

.tg  {
    background-color: #95813c;
    border-collapse:collapse;
    border-spacing:0;
}

.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}

.tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:bold;
    padding:10px 5px;
    border-style:solid;
    border-width:2px;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}

.tg .tg-yw4l{
    vertical-align:top
}

.regnskab{
    align-content:center;
    background-color: #95813c;
    border-top: 15px solid;
}

.regnskab tr td {
    padding: 5px;
}

.regnskab tr th {
    padding: 5px;
}

#udgift {
    border: 3px solid;
}

.save {
    display: none;
}