body
{
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:small;
    margin:8px 0 16px;
    text-align:center;
}

#forside_container
{
    margin:0 auto;
    text-align:left;
    width:800px;
}

h1 {
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    color: #fff7c0;
}

.row-bordered {
    border-bottom: 1px solid #463D33;
}

.col-md-12 p{
    margin-bottom: 0px;
}

.titler{
    margin-bottom: 0;
}

.col-md-12 h3{
    margin-top: 0px;
}

div .col-md-12{
    padding: 0px;
}

div.col-md-2{
    padding:0px;
}

div.col-md-10{
    padding:0px;
}

nav.navbar.navbar-default{
    margin-bottom: 0px;
}

b {
    font-size:medium;
}
