body
{
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:small;
    margin:8px 0 16px;
    text-align:center;
}

#indhold_container
{
    margin:0 auto;
    text-align:left;
    width:1100px;
    font-family: "Ebrima", sans-serif;
    font-size: medium;
}

.titler
{
    color: #fff7c0;
    font-family: 'Lucida Calligraphy', sans-serif;
    font-size: large;
}

.float
{
    float: left;
    border-top: solid;
    margin-bottom: 10px;
}

.gallery .gallerypic{
    width: 33%;
    height: auto;
    overflow: hidden;
}

