<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <script type="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
    <script type="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/general.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body>
<div class="container">
    <ui:include src="partials/topbar.xhtml"/>

    <div id="indhold_container">
        <table>
            <tr>
                <td width="800" style="padding-right: 20px;">
                    <p class="titler">Fester</p>

                    <p>Det er med kæmpe stor glæde at vi inviterer jer til vores festlige arrangementer - Kizomba dansefest, lækker mad og 45 min. intro undervisning i Kizomba.<br/>

                        Dee (DJ D'kizzz) styrer musikken og spiller det bedste af Kizomba, Ghetto Zouk, Retro Kizomba, Urban Kizz, Tarraxinha og Semba ligeligt fordelt gennem festen.<br/>

                        Vores formål, at skabe de bedste og mest festlige arrangementer i Århus.<br/>

                        Vores fokus for alle vores gæster vil være, at sikre jer lækker mad, hygge, gode danse, festlige oplevelser, fed musik og lyden fra anlægget vil med 200% garanti være en stor fornøjelse at høre på.<br/>
                        Der findes bare ikke bedre i Aarhus (Top of the range).<br/>

                        Vi håber mange af jer vil være med til, at skabe den fede feststemning på dansestedet CASAV58. <br/>

                        Kom og nyd vores Kizomba Lounge - den lækre mad med mange dejlige mennesker som elsker Kizomba eller bare er danseglade.<br/>

                        Det er en virkelig hyggeligt, sjovt og en fantastisk måde at starte aftenen på.<br/>

                        Aftenen starter kl. 18.30 med fællesspisning for dem der har lyst.<br/><br/>
                        <span class="titler">Pris:</span><br/>
                        Det koster 150 kr. at spise med og derefter er der gratis adgang til Kizomba festen<br/><br/>

                        Tag en ven eller to eller tre og vær’ med til, at opleve endnu et rigtig godt dansearrangement ved Kizomba Lounge<br/>

                        Sammen skaber vi en festlig stemning!!!!<br/><br/>

                        <span class="titler">Aftnens Program:</span><br/>
                        Fælles spisning 18.30 - 20.00 kr. 150 (inkl. intro undervisning, Kizomba Marathon og dansefest) - vi åbner dørene kl. 18.30 og regner med at spise omkring kl. 19.00<br/><br/>

                        <span class="titler">Dagens ret:</span><br/>
                        Se altid i eventen<br/><br/>

                        <span class="titler">Tilmelding:</span><br/>
                        Tilmelding forgår her på siden og betalingfrist til fælles spisning er fredag d. 18/05/2018 Kl.12.00 ved Mobilpay på 87554163 <br/>

                        ENTRE 60,- kr.<br/>

                        Kizomba introundervisning 20.00 - 20.45<br/>

                        (60 Kr. inkl. Kizomba Marathon og dansefest)<br/>

                        Kizomba Marathon 21.00 - 21.45<br/><br/>

                        <span class="titler">Kizomba Marathon:</span><br/>

                        Kizomba Marathon er et udtryk Dj D’Kizzz har udviklet ved, at udarbejde en obligatorisk danseøvelse til alle deltagere ved festen. Danseøvelsen er omkring 30-45 minuttes af fri dans (alle underlagt at variere i forhold til antallet af deltagere).<br/>

                        Inden for denne tidsramme skal hver person have danset med alle deltagere.<br/>

                        Det betyder, at der skiftes partnere på DJ’s opfordring eller signal. Ved udskiftning af partnere, må man nå til nærmeste person som du ikke har danset med.<br/>

                        Alle mænd skal nå at danse med alle kvindelige deltagere ♥. På den måde danser man med mange forskellige, og dermed opstår muligheden for at socialisere mere med alle deltagere til vores arrangementer.<br/>

                        Bestemt at alle vil føle sig hjemme, og de fleste velkomne ♥.<br/>

                        Kizomba dansefest 22.00 - 01.30 (Entré 60 kr.)<br/><br/>


                        Kizz Hugs<br/>

                        Dee &amp; CasaV58
                    </p>
                </td>
                <td style="border-left: solid; padding-left: 10px; vertical-align: top;">
                    <p class="titler">Galleri</p>
                    <p>Klik på billederne for at se den pågældende album!</p>
                    <div class="float">
                        <p>April 21, 2016</p>
                        <a onclick="window.open('https://www.facebook.com/media/set/?set=oa.257282271290161')" >
                            <img border="0" alt="April 21, 2016" src="/res/album1.jpg" width="280"/>
                        </a>
                    </div>
                    <div class="float">
                        <p>Marts 23, 2016</p>
                        <a onclick="window.open('https://www.facebook.com/media/set/?set=oa.236907326660989')" >
                            <img border="0" alt="Marts 23, 2016" src="/res/album2.jpg" width="280"/>
                        </a>
                    </div>
                    <div class="float">
                        <p>Marts 4, 2016</p>
                        <a onclick="window.open('https://www.facebook.com/media/set/?set=oa.232425633775825')">
                            <img border="0" alt="Marts 4, 2016" src="/res/album3.jpg" width="280"/>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
</div>
    <ui:include src="partials/footer.xhtml"/>





</div>
</body>
</html>