<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <script type="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
    <script type="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/general.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body>
<div class="container gallery">
    <ui:include src="partials/topbar.xhtml"/>
    <p class="titler">Galleri</p>
    <p>Klik på billederne for at se den pågældende album!</p>

        <div class="row">
            <div class="col-md-4 gallerypic" >
                <a onclick="window.open('https://www.facebook.com/media/set/?set=oa.232425633775825')" >
                    <img border="0" alt="Marts 4, 2016" src="/res/gallery3.png"/>
                </a>
                <p align="left">Marts 4, 2016</p>
            </div>
            <div class="col-md-4 gallerypic">
                <a onclick="window.open('https://www.facebook.com/media/set/?set=oa.236907326660989')">
                    <img border="0" alt="Marts 23, 2016" src="/res/gallery2.png"/>
                </a>
                <p align="left">Marts 23, 2016</p>
            </div>

            <div class="col-md-4 gallerypic">
                <a onclick="window.open('https://www.facebook.com/media/set/?set=oa.257282271290161')">
                    <img border="0" alt="April 21, 2016" src="/res/gallery1.png"/>
                </a>
                <p align="left">April 21, 2016</p>
            </div>
        </div>

    <div id="indhold_container">


        <div class="float">

        </div>
        <div class="float">

        </div>
</div>
    <ui:include src="partials/footer.xhtml"/>





</div>
</body>
</html>