<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<head>
    <script type="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
    <script type="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/general.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>


<body>
<div class="container">
    <ui:include src="partials/topbar.xhtml"/>
    <div id="indhold_container">
        <p class="titler">Authentic Kizomba, Kizomba Fusion, Kizomba Passion &amp; Kizomba Love <br/> ved Fernanda Gláucia og Dee Dlamini</p>
        <p>Vi har mange års dans erfaring i Latin danse (Salsa, bachata, merengue). Vores danse evner beriges af de kulturelle baggrunde fra Swaziland og Brazil som gør at vi har bred erfaring i afrikansk og latin dans såsom (Samba, forró, Kwaito, Kuduru, Afro house og Passada)
            Gennem 4 år har vi danset Kizomba sammen og udviklet en del dans og udervisning kompentencer som kommer vores deltager til gode. Vores passion for traditional/authentic kizomba, semba og Kizomba Fusioner er de dans stil som deltagerne kan lære fra os.</p>

        <p>Sjovt,disciplineret og struktureret undervisning danner rammen for det daglig forløb ved vores timer, hvor der også plads til at deltagerne kan være kreative eller innovative i deres dans ved at improvisere.
            Vi sætter stor fokus på at deltagerne lære en del små danse elementer som kan sammesættes til en danse serie eller tilpasses med egne variationer.</p>

        Har du lyst til at lære Kizomba, eller bare forbedre dine sociale Kizomba færdigheder, udvikle dine danse kompetencer og stil.
        Så er vores Nybegynder, Letøvet og Øvet holdundervisning måske en løsning for dig. <br/><br/>

        <span class="titler"> Priser: </span> <br/>(7 gang undervisning af 1 time10min)<br/>

        Deltagelse ved Et hold 600 Kr.<br/>

        Deltagelse ved To hold efter eget valg 1100 Kr.<br/>

        Tilmelding parvis til et hold 1000 Kr.<br/>

        Der er begrænset tilmeldinger (max 20), derfor skynd jer og tilmeld jer på ønskede hold. Vi vil stærk anbefale tilmeldinger parvis.<br/><br/>

        <span class="titler"> Begynder: </span> <br/>

        Her er en beskrivelse af de færdigheder man skal have for at starte på holdet, og hvad man kommer til at lære. <br/><br/>

        <form action="/tilmeld.xhtml">
            <input type="submit" value="Tilmeld her" style="color: #fff7c0; background-color:#956921; border-color:#7A7563"/>
        </form><br/><br/>

        <span class="titler"> Letøvet: </span> <br/>

        Her er en beskrivelse af de færdigheder man skal have for at starte på holdet, og hvad man kommer til at lære. <br/>
        Se her en eksempel på hvad man fx kan lære på letøvet holdet: <br/> <br/>

        <video controls="true">
            <source src="res/letovet.mp4" type="video/mp4" />
        </video>

        <form action="/tilmeld.xhtml">
            <input type="submit" value="Tilmeld her" style="color: #fff7c0; background-color:#956921; border-color:#7A7563"/>
        </form><br/><br/>
        <span style="color: #fff7c0; font-family: 'Lucida Calligraphy',sans-serif; font-size: medium"> Øvet: </span> <br/>
        Her er en beskrivelse af de færdigheder man skal have for at starte på holdet, og hvad man kommer til at lære. <br/><br/>

        <form action="/tilmeld.xhtml">
            <input type="submit" value="Tilmeld her" style="color: #fff7c0; background-color:#956921; border-color:#7A7563"/>
        </form>


    </div>
    <ui:include src="partials/footer.xhtml"/>
</div>


</body>

</html>
