<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


<head>
    <link rel="stylesheet" type="text/css" href="css/forside.css"/>
    <script type="text/javascript" src="//code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/jssor.slider-27.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body>
    <div class="container">
        <ui:include src="partials/topbar.xhtml"/>

        <div class="container">
            <div class="row">
                <p class="titler">Aarhus Kizomba Passion</p>
            </div>
            <div class="row">
                <p>
                    Kizomba er noget dans som er nice og andre gode tillægsord, du burde totalt tilmelde dig.
                </p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div id="jssor_1" style="position:relative;top:0px;left:0px;width:auto;height:380px;overflow:hidden;">
                        <div data-u="slides" style="position:absolute;top:0px;left:0px;width:750px;height:380px;overflow:hidden;">
                            <div><img data-u="image" src="res/kizomba1.png" /></div>
                            <div><img data-u="image" src="res/kizomba2.png" /></div>
                            <div><img data-u="image" src="res/kizomba3.png" /></div>
                            <div><img data-u="image" src="res/kizomba4.png" /></div>
                            <div><img data-u="image" src="res/kizomba5.png" /></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="pull-left">Kalender</h3>
                        </div>
                    </div>
                        <ui:repeat value="#{forsideBean.getEvents()}" var="event">
                            <div class="row row-bordered">
                                <div class="col-md-12">
                                    <img class="pull-left" alt="" src="res/icon_calendar.png"/>
                                    <p class="pull-left"> <b>Event:</b> #{event.getNavn()}</p>
                                    <p class="pull-left"> <b>Beskrivelse:</b> #{event.getBeskrivelse()}</p>
                                    <p class="pull-left"> <b>Fra:</b> #{event.getFraDato()}</p>
                                    <p class="pull-left"> <b>Til:</b> #{event.getTilDato()}</p>
                                </div>
                            </div>
                        </ui:repeat>
                </div>
            </div>
        </div>
        <ui:include src="partials/footer.xhtml"></ui:include>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: 1,
                $FillMode: 4
            };
            var jssor1_slider = new $JssorSlider$("jssor_1", options);
        });
    </script>
</body>

</html>
