<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <script type="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/general.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body>
<div class="container">
    <ui:include src="partials/topbar.xhtml"/>
    <div id="indhold_container">

        <span class="titler">Contacts</span>
        <br/>
        Write to us at deediza@gmail.com if you want to be part of the dance team.
        <br/>
        <br/>
        Or
        <br/>
        Contact Dee at +4587554163
        <br/>
        We look forward to dancing with you
        <br/>
        <br/>

        Venues

        <p>
            Dance classes (Hotel Carmel)<br/>
            http://www.hotelcarmel.dk/<br/>
            Nørre Allé 23C, 8000 Aarhus C</p>

        <p>
            Kizomba Parties (CasaV58)<br/>
            http://www.casacarola.dk/<br/>
            Vestergade 58</p>
    </div>
    <ui:include src="partials/footer.xhtml"/>
</div>



</body>
</html>
