<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <script type="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/general.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body>
<div class="container">
    <ui:include src="partials/topbar.xhtml"/>

    <h1>Authentic Kizomba, Kizomba Fusion, Kizomba Passion &amp; Kizomba Love ved Fernanda Gláucia og Dee Dlamini</h1>
    Vi har mange års dans erfaring i Latin danse (Salsa, bachata, merengue). Vores danse evner beriges af de kulturelle baggrunde fra Swaziland og Brazil som gør at vi har bred erfaring i afrikansk og latin dans såsom (Samba, forró, Kwaito, Kuduru, Afro house og Passada)
    Gennem 4 år har vi danset Kizomba sammen og udviklet en del dans og udervisning kompentencer som kommer vores deltager til gode. Vores passion for traditional/authentic kizomba, semba og Kizomba Fusioner er de dans stil som deltagerne kan lære fra os.

    Sjovt,disciplineret og struktureret undervisning danner rammen for det daglig forløb ved vores timer, hvor der også plads til at deltagerne kan være kreative eller innovative i deres dans ved at improvisere.
    Vi sætter stor fokus på at deltagerne lære en del små danse elementer som kan sammesættes til en danse serie eller tilpasses med egne variationer.
    Har du lyst til at lære Kizomba, eller bare forbedre dine sociale Kizomba færdigheder, udvikle dine danse kompetencer og stil.
    Så er vores Nybegynder, Letøvet og Øvet holdundervisning måske en løsning for dig.


<p> In our events, we cooperate with Carola (Casa V58) as our partner. She serves delicious meals, which are Latin inspired and not forgetting the wide range of drinks (latin beers/cocktails) also served during parties.

    So COME AND DANCE with us !!! </p>

    Do you want to learn more about dancing Kizomba or just improve your social Kizomba skills, develop your dance skills and style to another level

    Then our beginners and improver/intermediate classes or kizomba workshops with International dance instructors is perhaps the solution for you. (more info on our events)

    <br/>
    <br/>
    Venues

    <p>
    Dance classes (Hotel Carmel)<br/>
    http://www.hotelcarmel.dk/<br/>
        Nørre Allé 23C, 8000 Aarhus C</p>

    <p>
    Kizomba Parties (CasaV58)<br/>
    http://www.casacarola.dk/<br/>
    Vestergade 58</p>

    <br/>
    Prices
<br/>
    Kizomba workshops prices are specified on the event.
<br/>
    Kizomba Lounge parties on every third week kr.50
<br/>
<br/>
    Contacts
<br/>
    Write to us at deediza@gmail.com if you want to be part of the dance team.
<br/>
    <br/>
    Or
<br/>
    Contact Dee at +4587554163
<br/>
    We look forward to dancing with you
<br/>
    <br/>
    Kizzz Hugs
    <ui:include src="partials/footer.xhtml"/>
</div>
</body>
</html>
