<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <script type="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/tilmeld.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body id="main_body" >

<div class="container">
    <ui:include src="partials/topbar.xhtml"/>
    <div id="form_container">

        <h1><a>Tilmelding</a></h1>
        <form id="form" class="appnitro" method="post" action="">
            <div class="form_description">
                <h2>Tilmelding</h2>
                <p></p>
            </div>
            <ul >

                <li id="li_4" >
                    <label class="description" for="element_4">Valg hold </label>
                    <div>
                        <select class="element select medium" id="element_4" name="element_4">
                            <option value="" selected="selected"></option>
                            <option value="1" >Begynder Kizomba (ma 17-18)</option>
                            <option value="2" >Letøvet Kizomba (ma 18-19)</option>
                            <option value="3" >Øvet Kizomba (ma 19-20)</option>

                        </select>
                    </div>
                </li>		<li id="li_1" >
                <label class="description" for="element_1_1">Name </label>
                <span>
			<input id="element_1_1" name= "element_1_1" class="element text" maxlength="255" size="8" value=""/>
			<label>First</label>
		</span>
                <span>
			<input id="element_1_2" name= "element_1_2" class="element text" maxlength="255" size="14" value=""/>
			<label>Last</label>
		</span>
            </li>		<li id="li_5" >
                <label class="description" for="element_5_1">Køn </label>
                <span>
			<input id="element_5_1" name="element_5_1" class="element checkbox" type="checkbox" value="1" />
            <label class="choice" for="element_5_1">Kvinde</label>
            <input id="element_5_2" name="element_5_2" class="element checkbox" type="checkbox" value="1" />
            <label class="choice" for="element_5_2">Mand</label>

		</span>
            </li>		<li id="li_2" >
                <label class="description" for="element_2">Email </label>
                <div>
                    <input id="element_2" name="element_2" class="element text medium" type="text" maxlength="255" value=""/>
                </div>
            </li>		<li id="li_3" >
                <label class="description" for="element_3">Tlf </label>
                <div>
                    <input id="element_3" name="element_3" class="element text medium" type="text" maxlength="255" value=""/>
                </div>
            </li>

                <li class="buttons">
                    <input type="hidden" name="form_id" value="8591" />

                    <input id="saveForm" class="button_text" type="submit" name="submit" value="Tilmeld" onclick="feedback()"/>

                </li>
            </ul>
        </form>
    </div>

    <script type="text/javascript">
        function feedback() {
            alert("Du er nu tilmeldt!");
        }
        $("#element_5_1").click(function () {
            $( "#element_5_2" ).prop( "checked", false );
        });
        $("#element_5_2").click(function () {
            $( "#element_5_1" ).prop( "checked", false );
        });
    </script>



    <ui:include src="partials/footer.xhtml"/>
</div>

</body>
</html>
