<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <script type="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
    <script type="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/general.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body>
<div class="container">
    <ui:include src="partials/topbar.xhtml"/>
    <div id="indhold_container">
        <p class="titler">Hold videoer</p>

        <p>Du skal logge ind for at se hold videoer. Du får dit holdnavn og password fra Dee ved kursets start <br/> (SNYD: lige nu kan du logge ind med Holdnavn: begyndermaj Password: password)</p>

        <br/><br/><center>
        <h:form id="loginForm">
            <table>
                <tr>
                    <th><h:outputLabel value="username " /></th>
                    <td><h:inputText value="#{videoLoginBean.username}" /></td>
                </tr>
                <tr>
                    <th><h:outputLabel value="password" /></th>
                    <td><h:inputSecret value="#{videoLoginBean.password}"/></td>
                </tr>
                <tr>
                    <td />
                    <td align="right">
                        <h:commandButton value="Login" action="#{videoLoginBean.login}"/>
                    </td>
                </tr>
            </table>
        </h:form>
    </center>
    </div>
    <ui:include src="partials/footer.xhtml"/>

</div>


</body>
</html>
